<script type="text/javascript" src="<?php echo base_url('dist/js/swfobject.js') ?>"></script>
<style type="text/css">	
	/* hide from ie on mac \*/
	html {
		height: 100%;
		overflow: hidden;
	}
	
	#flashcontent {
/*		width: 7rem;
		height: 8rem;
*/
		height:auto;
		width:auto;


	}
	/* end hide */

	body {
		height: 100%;
		margin: 0;
		padding: 0;
		background-color: #DCDCDC;
		color:#DCDCDC;
	}

</style>
	<div id="flashcontent"></div>
	<?php


	?>
	<script type="text/javascript">
	
		var fo = new SWFObject("<?php echo base_url('dist/swf/TiltViewer.swf') ?>", "viewer","1350", "700", "#9e9e9e");			
		
		// TILTVIEWER CONFIGURATION OPTIONS
		// To use an option, uncomment it by removing the "//" at the start of the line
		// For a description of config options, go to: 
		// http://www.airtightinteractive.com/projects/tiltviewer/config_options.html
															
		//FLICKR GALLERY OPTIONS
		// To use images from Flickr, uncomment this block
		//fo.addVariable("useFlickr", "true");
		//fo.addVariable("user_id", "48508968@N00");
		//fo.addVariable("tags", "jump,smile");
		//fo.addVariable("tag_mode", "all");
		//fo.addVariable("showTakenByText", "true");			
		
		// XML GALLERY OPTIONS
		// To use local images defined in an XML document, use this block		
		fo.addVariable("useFlickr", "false");
		//这一句是让导航显示
		fo.addParam("wmode","Opaque");
		fo.addVariable("xmlURL", "<?php echo base_url('images/dust/gallery.xml') ?>");
//		fo.addVariable("ajaxURL", "http://cxlmeitu.com/yedeng/wall");
		fo.addVariable("maxJPGSize","640");

		//GENERAL OPTIONS		
		fo.addVariable("useReloadButton", "false");
		fo.addVariable("columns", "4");
		fo.addVariable("rows", "6");
		//fo.addVariable("showFlipButton", "true");
		//fo.addVariable("showLinkButton", "true");		
//		fo.addVariable("linkLabel", "View image info");
		//这一句关联 图片view url
		//fo.addVariable("frameColor", "0xFF0000");
//		fo.addVariable("backColor", "0xff5f83");
		//fo.addVariable("bkgndInnerColor", "0xFF00FF");
		//fo.addVariable("bkgndOuterColor", "0x0000FF");				
		//fo.addVariable("langGoFull", "Go Fullscreen");
		//fo.addVariable("langExitFull", "Exit Fullscreen");
		//fo.addVariable("langAbout", "About");				
		
		// END TILTVIEWER CONFIGURATION OPTIONS
		
		//fo.addParam("allowFullScreen","true");
		fo.write("flashcontent");			
	</script>